*
!src
!includes
!layout
!assets
!auth
!dist
!i18n
!composer.json
!composer.lock
!about.php
!admin-applications.php
!admin-dashboard.php
!admin-permissions.php
!admin-decrees.php
!admin-tests.php
!admin-role-requests.php
!admin-users.php
!developer-dashboard.php
!easter.php
!examples.php
!extending.php
!index.php
!liturgyOfAnyDay.php
!permission-requests.php
!request-access.php
!temporale.php
!translations.php
!usage.php
!user-profile.php
!.env.example
