#tableContainer {
    overflow: auto;
    height: 55vh;
}

#jsonDataTbl {
    table-layout: fixed;
}

#jsonDataTbl:not(.propriumDeTempore,.nationalCalendar) > thead > tr > th:nth-child(6),
#jsonDataTbl:not(.propriumDeTempore,.nationalCalendar) > tbody > tr > td:nth-child(6),
#jsonDataTbl.nationalCalendar > thead > tr > th:nth-child(4),
#jsonDataTbl.nationalCalendar > tbody > tr > td:nth-child(4),
#jsonDataTbl.nationalCalendar > thead > tr > th:nth-child(6),
#jsonDataTbl.nationalCalendar > tbody > tr > td:nth-child(6),
#jsonDataTbl.nationalCalendar > thead > tr > th:nth-child(8),
#jsonDataTbl.nationalCalendar > tbody > tr > td:nth-child(8) {
    visibility: hidden;
}

#jsonDataTbl table tr:first-child td {
    border-top: 0;
}

#jsonDataTbl table {
    width: 100%;
}

#jsonDataTbl table tr td:nth-child(2) {
    width: 50%;
    border: 1px dashed gray;
    border-radius: 3px;
}