#tableContainer {
    overflow: auto;
    height: 55vh;
}

#jsonDataTbl {
    table-layout: fixed;
}

#jsonDataTbl:not(.propriumDeTempore) > thead > tr > th:first-child,
#jsonDataTbl:not(.propriumDeTempore,.nationalCalendar) > thead > tr > th:nth-child(7),
#jsonDataTbl.nationalCalendar > thead > tr > th:nth-child(9),
#jsonDataTbl:not(.propriumDeTempore) > tbody > tr > td:first-child,
#jsonDataTbl:not(.propriumDeTempore,.nationalCalendar) > tbody > tr > td:nth-child(7),
#jsonDataTbl.nationalCalendar > tbody > tr > td:nth-child(9) {
    visibility: hidden;
}

#jsonDataTbl table tr:first-child td {
    border-top: 0;
}

#jsonDataTbl table {
    width: 100%;
}

#jsonDataTbl table tr td:nth-child(2) {
    width: 50%;
    border: 1px dashed gray;
    border-radius: 3px;
}