/*
#APICalendarSelect > option {
    background-color: #effee9;
}

#APICalendarSelect > option:first-child {
    background-color: #fff;
}
*/
#APICalendarSelect > optgroup {
    background-color: #efefef;
}
#APICalendarSelect > optgroup > option {
    background-color: #fff;
}
#RequestURLExampleWrapper {
    background-color: #eee;
    border: 1px solid Gray;
    border-radius: 6px;
    padding: 6px 12px;
}
a#transl-status-btn.btn.btn-light {
    border: 3px solid lightgoldenrodyellow;
}
a#transl-status-btn.btn.btn-light:hover {
    border: 3px solid orange;
}

/* Responsive API URL builder */
#requestUrlBuilder {
    align-items: stretch;
}
#requestUrlBuilder > div:first-child {
    min-width: 0;
    overflow: hidden;
}
#requestUrlBuilder > div:first-child > code:last-child {
    word-break: break-all;
    overflow-wrap: break-word;
}
#requestUrlBuilder > div:last-child {
    display: flex;
    align-items: stretch;
}
#requestUrlBuilder > div:last-child > a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
@media (max-width: 767.98px) {
    #requestUrlBuilder {
        flex-direction: column;
    }
    #requestUrlBuilder > div:first-child {
        width: 100%;
        margin-bottom: 0.5rem;
        padding: 0.5rem;
    }
    #requestUrlBuilder > div:last-child {
        width: 100%;
    }
}
