body {
    font-family: 'Nunito', sans-serif !important;
}

/* Responsive navbar styling */
.sb-topnav .navbar-brand {
    font-size: 0.9rem;
    white-space: nowrap;
}

.sb-topnav .navbar-toggler {
    border: none;
    padding: 0.25rem 0.5rem;
}

.sb-topnav .nav-link {
    padding: 0.5rem;
}

@media (max-width: 991.98px) {
    .sb-topnav .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: white;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        z-index: 1000;
        padding: 0.5rem;
    }

    .sb-topnav .navbar-nav {
        flex-direction: column;
        align-items: flex-start !important;
    }

    .sb-topnav .navbar-nav .nav-item {
        width: 100%;
        padding: 0.25rem 0;
    }

    .sb-topnav .navbar-nav .nav-item.d-flex {
        flex-wrap: wrap;
    }
}

.carousel .carousel-indicators li {
    background-color: rgba(70, 70, 70, 0.25);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

.carousel .carousel-control-prev-icon, .carousel .carousel-control-next-icon {
    background-color: rgba(70,70,120,.5);
    width: 30px;
    height: 30px;
}
/*
.sidebar.toggled {
    width: 0 !important;
    overflow: hidden;
}
*/

@media (min-width: 768px) {

    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav {
        width: 125px;
        font-size: .7em;
        text-align: center;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_content {
        margin-left: -105px;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav .nav-link {
        flex-direction: column;
    }
    .sb-sidenav-collapsed:not(.sb-sidenav-toggled) #layoutSidenav #layoutSidenav_nav .nav-link .sb-nav-link-icon {
        margin-right: 0;
    }
    .sb-sidenav-collapsed .sidebar-brand {
        display: none;
    }

}
